.about-us-text {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-us-text p {
    font-size: 29px;
    width: 75%;
    font-weight: 500;
    margin: 50px 0 0 0;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial;
}

@media screen and (max-width: 768px) {
    .about-us-text p {
        width: 85%;
        font-size: 24px;
    }
}